<section>
    <div class="page-header">
        <h1>Subjects</h1>
    </div>
    <div class="form-group">
        <label for="year"> Year : </label>
        <select name="year" id="yearSelect" ng-options="option.year for option in yearData track by option.year" ng-model="yearData.selectedOption"
        width="200px"></select>
    </div>
    <div class="form-group">
        <label for="Semester"> Semester : </label>
        <select name="Semester" id="semesterSelect" ng-options="option.semester for option in semesterData.availableOptions track by option.semester"
        ng-model="semesterData.selectedOption" width="200px"></select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click="listSubjects()">List Subjects</button>
    </div>
    <div class="list-group">
        <a ng-repeat="subject in vm.subjects" ui-sref="subjects.view({ subjectId: subject._id })" class="list-group-item">
            <div class="row">
                <h4 class="list-group-item-heading col-sm-3" ng-bind="subject.title"></h4>
                <p class="list-group-item-text col-sm-3" ng-bind="subject.description"></p>
                <h4 class="list-group-item-heading col-sm-3" ng-bind="subject.teacher"></h4>
                <h4 class="list-group-item-heading col-sm-2" ng-bind="subject.year"></h4>
                <h4 class="list-group-item-heading col-sm-1" ng-bind="subject.yearLevel"></h4>
            </div>
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="vm.subjects.$resolved && !vm.subjects.length">
        No subjects yet, why don't you <a ui-sref="subjects.create">create one</a>?
    </div>
</section>