<section data-ng-controller="SubjectCtrl" data-ng-init="find()">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">List Subject</div>
			<div class="panel-body">
				<form class="form" method="post" ng-submit="submitSubject()" name="listSubjectForm">
					<label for="yearData"> Year Enrolled : </label>
					<select name="yearData" id="yearSelect" ng-options="option.year for option in yearData.availableOptions track by option.year"
					ng-model="yearData.selectedOption" width="200px" ng-change="filterByYear(yearData.selectedOption)" required></select>
					<label> Search: </label>
					<input ng-model="query"> Sort by:
					<select ng-model="orderProp">
						<option value="title">Alphabetical</option>
						<option value="teacher">Teacher</option>
					</select>
					<br>
					<ul class="subjects">
						<li ng-repeat="subject in subjects | filter:query | orderBy:orderProp" class="subject subject-listing">
							<a href="#/subjects/{{subject._id}}">{{subject.title}} {{subject.teacher}}</a>
							<a class="btn" href="/subjects/{{subject._id}}/edit">
								<i class="glyphicon glyphicon-edit"></i>
							</a>
							<a class="btn" data-ng-click="remove(subject);">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</li>
					</ul>

			</div>
		</div>
		</form>
	</div>
	</div>
	</div>
</section>