<section>
    <div class="page-header">
        <h1 ng-bind="vm.subject.title"></h1>
    </div>
    <div class="pull-right" ng-show="vm.showUser">
        <a class="btn btn-primary" ui-sref="subjects.edit({ subjectId: vm.subject._id })" ng-show="vm.showUser">
            <i class="glyphicon glyphicon-edit" ng-show="vm.showUser"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.remove()" ng-show="vm.showUser">
            <i class="glyphicon glyphicon-trash" ng-show="vm.showUser"></i>
        </a>
    </div>
    <div class="form-group">
        Description :
        <span ng-bind="vm.subject.description"></span>
    </div>
    <div class="form-group">
        Teacher :
        <span ng-bind="vm.subject.teacher"></span>
    </div>
    <div class="form-group">
        <h4 class="list-group-heading">Artists</h4>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="artist in artists" ng-show="artist.selected" ui-sref="artists.view({ artistId: artist._id })">
                <a ui-sref="artists.view({ artistId: artist._id })">
                    <span ng-bind="artist.name"></span>
                </a>
            </li>
        </ul>
    </div>
</section>