<section data-ng-controller="HomeController" data-ng-init="getPictures()">
    <div class="text-center">
        <img alt="Marist Online Gallery" class="img-rounded" src="modules/core/img/brand/banner-marist-art-gallery.gif" width="70%"
        height="70%" />
    </div>
    <div>
        <div ng-repeat="picture in pictures" class="text-center">
            <img class="text-center img-rounded" ng-src="{{picture.picture}}" width="50%" height="50%" />
        </div>
    </div>
<!--        <div class="carousel slide" 
         data-ride="carousel"
         data-interval="3000">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../img/image3.gif" alt="Hawkfish"/>
          <div class="carousel-caption">
            <h2>A beautiful hawkfish</h2>
          </div>
        </div>
        <div class="item">
          <img src="../img/image2.gif" alt="Lionfish"/>
          <div class="carousel-caption">
            <h2>A dangerous lionfish</h2>
          </div>
        </div>
        <div class="item">
          <img src="../img/image1.gif" alt="Diver"/>
          <div class="carousel-caption">
            <h2>Peaceful moments</h2>
          </div>
        </div>
      </div>
    </div> -->
</section>