<section data-ng-controller="PictureCtrl" data-ng-init="getPictures()">
    <div class="page-header">
        <h1>{{headingTitle}}</h1>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">{{headingTitle}} by
                <label for="year"> Year : </label>
                <select name="year" id="yearSelect" ng-options="option.year for option in yearListData track by option.year" ng-model="yearListData.selectedOption"
                width="200px" ng-change="yearListChanged()" required></select>
                <label for="dataArtist"> Artist : </label>
                <select name="dataArtist" id="dataArtist" ng-options="option.name for option in dataArtist track by option.name" ng-model="dataArtist.selectedOption"
                width="200px" ng-change="artistChanged()" required></select>
            </div>
            <span>
             <spinner name="frontSpinner" img-src="modules/core/img/loaders/loader.gif" show="loading"><h3>   Loading...</h3></spinner>
            <ul  class="list-group">
              <li class="list-group-item"  ng-repeat="picture in pictures" >
                <a href="/pictures/{{picture._id}}"><img class="img-rounded" ng-src="{{picture.picture}}" width="5%" height="auto" /></a>                   
                <a ng-hide="!showUser" class="btn" href="/pictures/{{picture._id}}/edit"><i class="glyphicon glyphicon-edit"></i></a>
                <a ng-hide="!showUser" class="btn" data-ng-click="remove(picture);"><i class="glyphicon glyphicon-trash"></i></a>            
                <a href="/pictures/{{picture._id}}">{{picture.title}}</a>
              </li>
            </ul>
                <pagination max-size="maxSize" total-items="totalItems" 
                items-per-page="1" ng-model="currentPage" ng-change="pageChanged()" 
                boundary-links="true" rotate="false">
                </pagination>
            </span>
        </div>
    </div>
</section>