<section data-ng-controller="PictureCtrl" data-ng-init="find()">

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">{{headingTitle}}
        <div class="pull-right">
          <input class="search" type="text" ng-model="query.title" placeholder="Search...">
        </div>
      </div>
      <div class="panel-body">
        <div class="row show-list">
          <div class="col-xs-4 col-md-3" ng-repeat="picture in pictures | filter:query | orderBy:orderProp">
            <a href="/pictures/{{picture._id}}">
              <img class="img-rounded" ng-src="{{picture.picture}}" width="50%" height="50%"/>
            </a>
            <span>
              <a class="btn" href="/pictures/{{picture._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn" data-ng-click="remove(picture);">
              <i class="glyphicon glyphicon-trash"></i>
              </a>
            </span>
            <div class="text-left">
              <a href="/pictures/{{picture._id}}">{{picture.title}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 data-ng-hide="!pictures || pictures.length"><img  src="modules/core/img/loaders/loader.gif"/> </h1>-->
</section>