<section data-ng-controller="PictureCtrl" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="picture.title"></h1>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">View Picture</div>
            <div class="panel-body">
                <div class="media">
                    <div class="pull-left">
                        <div id="myDiv">
                            <img class="img-rounded text-center" ng-src="{{picture.picture}}"> <!--class="media-object img-rounded"-->
                        </div>
                        <a ng-hide="!showUser" class="btn" href="/pictures/{{picture._id}}/edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <p>Title: {{picture.title}}, Artist: {{picture.artistName}}, Medium: {{picture.medium}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>