<section data-ng-controller="ArtistCtrl">
	<div class="page-header">
		<h1>Add Artist</h1>
	</div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Add Artist</div>
			<div class="panel-body">
				<form class="form" method="post" ng-submit="create()" name="addArtistForm">
					<div class="form-group" ng-class="{ 'has-success' : addArtistForm.artistName.$valid && addArtistForm.artistName.$dirty, 'has-error' : addArtistForm.artistName.$invalid && addArtistForm.artistName.$dirty }">
						<label for="artistName"> Name : </label>
						<input class="form-control" type="text" name="artistName" ng-model="artist.name" width="400px" placeholder="Enter Artist name"
						required autofocus>
						<br>
						<label for="artistDescription"> Description : </label>
						<input class="form-control" type="text" name="artistDescription" ng-model="artist.description" width="800px" placeholder="Description">
						<br>
						<label for="yearEnrolled"> Year Enrolled : </label>
						<select name="yearEnrolled" id="yearEnrolled" ng-options="option.year for option in yearData track by option.year" ng-model="yearData.selectedOption"
						width="200px" required></select>
						<br>
						<label for="house"> House : </label>
						<select name="house" id="houseSelect" ng-options="option.name for option in house.availableOptions track by option.name" ng-model="house.selectedOption"
						width="200px" required></select>
						<div class="help-block text-danger" ng-if="addArtistForm.artistName.$dirty" ng-messages="addArtistForm.artistName.$error">
							<div ng-message="required">Artist Name is required.</div>
						</div>
					</div>
					<button class="btn btn-primary" type="submit" ng-disabled="addArtistForm.$invalid">Add</button>
				</form>
			</div>
		</div>
	</div>
</section>