<section data-ng-controller="ArtistCtrl" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Artist</h1>
	</div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Edit Artist</div>
			<div class="panel-body">
				<form class="form" method="post" ng-submit="update()" name="updateArtistForm">
					<div class="form-group" ng-class="{ 'has-success' : updateArtistForm.artistName.$valid && updateArtistForm.artistName.$dirty, 'has-error' : updateArtistFormForm.artistName.$invalid && updateArtistForm.artistName.$dirty }">
						<label for="artistName"> Name : </label>
						<input class="form-control" type="text" name="artistName" ng-model="artist.name" width="400px" placeholder="Enter Artist name"
						required autofocus>
						<br>
						<label for="artistDescription"> Description : </label>
						<input class="form-control" type="text" name="artistDescription" ng-model="artist.description" width="800px" placeholder="Description">
						<br>
						<label for="yearEnrolled"> Year Enrolled : </label>
						<select name="year" id="yearSelect" ng-options="option.year for option in year.availableOptions track by option.year" ng-model="year.selectedOption"
						width="200px" required></select>
						<br>
						<label for="house"> House : </label>
						<select name="house" id="houseSelect" ng-options="option.name for option in house.availableOptions track by option.name"
						ng-model="house.selectedOption" width="200px" required></select>
						<br>
						<label for="checkboxActive"> Active : </label>
						<input name "checkboxActive" type="checkbox" ng-model="artist.active"></input>
						<div class="help-block text-danger" ng-if="updateArtistForm.artistName.$dirty" ng-messages="updateArtistForm.artistName.$error">
							<div ng-message="required">Artist Name is required.</div>
						</div>
					</div>
					<button class="btn btn-primary" type="submit" ng-disabled="updateArtistForm.$invalid">Update</button>
				</form>
			</div>
		</div>
	</div>
</section>