<section data-ng-controller="ArtistCtrl" data-ng-init="find()">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">List Artist</div>
			<div class="panel-body">
				<form class="form" method="post" ng-submit="submitArtist()" name="listArtistForm">
					<label for="yearData"> Year Enrolled : </label>
					<select name="yearData" id="yearSelect" ng-options="option.year for option in yearData.availableOptions track by option.year"
					ng-model="yearData.selectedOption" width="200px" ng-change="filterByYear(yearData.selectedOption)" required></select>
					<label> Search: </label>
					<input ng-model="query"> Sort by:
					<select ng-model="orderProp">
						<option value="title">Alphabetical</option>
						<option value="teacher">Teacher</option>
					</select>
					<br>
					<ul class="artists">
						<li ng-repeat="artist in artists | filter:query | orderBy:orderProp" class="artist artist-listing">
							<a href="#/artists/{{artist._id}}">{{artist.title}} {{artist.teacher}}</a>
							<a class="btn" href="/artists/{{artist._id}}/edit">
								<i class="glyphicon glyphicon-edit"></i>
							</a>
							<a class="btn" data-ng-click="remove(artist);">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
						</li>
					</ul>

			</div>
		</div>
		</form>
	</div>
	</div>
	</div>
</section>