<section>
    <div class="page-header">
        <h1>Artists</h1>
    </div>
    <div class="form-group">
        <label class="control-label" for="yearEnrolled">Year Enrolled in Year 7</label>
        <select name="yearEnrolled" id="yearEnrolled" ng-options="option.year for option in yearData track by option.year" ng-model="yearData.selectedOption"
        width="200px" ng-change="filterByYear(year.selectedOption)" required></select>
    </div>
    <div class="form-group">
        <label class="control-label">Search</label>
        <input ng-model="query">
    </div>
    <div class="form-group">
        <label class="control-label" for "orderProp">Order the List</label>
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="yearEnrolled">year Enrolled</option>
        </select>
    </div>
    <div class="list-group">
        <a ng-repeat="artist in vm.artists | filter:query | orderBy:orderProp" ui-sref="artists.view({ artistId: artist._id })" class="list-group-item">
            <div class="row">
                <h4 class="list-group-item-heading col-sm-3" ng-bind="artist.name"></h4>
                <p class="list-group-item-text col-sm-6" ng-bind="artist.description"></p>
                <h6 class="list-group-item-heading col-sm-3" ng-bind="artist.yearEnrolled"></h6>
                <label ng-show="artist.active">Active</label>
                <label ng-show="!artist.active">Inactive</label>
            </div>
        </a>
    </div>
</section>