<section>
    <div class="page-header">
        <h1 ng-bind="vm.article.title"></h1>
    </div>
    <div class="pull-right" ng-show="vm.showUser">
        <a class="btn btn-primary" ui-sref="articles.edit({ articleId: vm.article._id })" ng-show="vm.showUser">
            <i class="glyphicon glyphicon-edit" ng-show="vm.showUser"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.remove()" ng-show="vm.showUser">
            <i class="glyphicon glyphicon-trash" ng-show="vm.showUser"></i>
        </a>
    </div>
    <span class="lead" ng-bind="vm.article.content"></span>
    <br>
    <span ng-if="vm.article.leadArticle" ">Lead Article</span>
    <br>
    <span ng-if="vm.article.displayFrontPage ">Front Page Article</span>
    <div class="form-group text-center ">
        <img ng-src="{{vm.article.picture}} " alt="{{vm.article.title}} " class="img-thumbnail img-responsive ">
    </div>
</section>