<section data-ng-controller="YearsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="year.year"></h1>
  </div>
  <div class="pull-right" data-ng-show="authentication.user._id == year.user._id">
    <a class="btn btn-primary" data-ui-sref="years.edit({yearId: year._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span data-ng-bind="year.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="year.user.displayName"></span>
    </em>
  </small>
</section>
