<section>
  <div class="page-header">
    <h1 ng-bind="vm.medium.title"></h1>
  </div> 
  <div class="pull-right" ng-show="vm.showUser">
    <a class="btn btn-primary" ui-sref="mediums.edit({ mediumId: vm.medium._id })" ng-show="vm.showUser">
      <i class="glyphicon glyphicon-edit" ng-show="vm.showUser"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()" ng-show="vm.showUser">
      <i class="glyphicon glyphicon-trash" ng-show="vm.showUser"></i>
    </a>
  </div>
  <p class="lead" ng-bind="vm.medium.content"></p>
</section>
