<section data-ng-controller="MediumsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="medium.title"></h1>
  </div>
  <div class="pull-right" data-ng-show="authentication.user._id == medium.user._id">
    <a class="btn btn-primary" data-ui-sref="mediums.edit({mediumId: medium._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span data-ng-bind="medium.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="medium.user.displayName"></span>
    </em>
  </small>
  <p class="lead" data-ng-bind="medium.content"></p>
</section>
